.ma-2{
    margin-top: 10px;
    margin-bottom: 10px;
}

body.dark{
    background: #111;
}

.bg-utama{
    /* background-color: #485696; */
    background-color: #1b3b6f;
}

.bg-cust{
    background-color: #21295c;
}

.copyright-bar {
    padding-top: 20px;
    padding-bottom: 20px;
}


.footer-social-icon {
    padding: 12px;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 20%;
    background: linear-gradient(135deg, #1b3b6f,#f1f1f1);
    /* text-emphasis-color: white; */
}

.footer-social-icon:hover {
    background: linear-gradient(135deg,  #ffff,#1b3b6f);

}

.btn-utama{
    /* background-color: #485696; */
    background-color: #1b3b6f;
    color: white;
}

/* Ubah warna background header tabel */
.table-cust thead {
    background-color: #21295c; /* Warna background header */
    color: white; /* Warna teks header */
    text-align: center; /* Meratakan teks ke tengah */
}

/* Atau jika ingin warna untuk setiap th (elemen kolom header) */
.table-cust th {
    background-color: #21295c;
    color: white;
    text-align: center;
    padding: 15px; /* Padding agar lebih nyaman dilihat */
}

/* Warna latar belakang untuk baris tabel */
.table-cust tbody tr {
    background-color: #f8f9fa; /* Warna latar belakang baris */
}

/* Mengubah warna baris yang dipilih */
.table-cust tbody tr.selected {
    background-color: #a2d9f7;
}

/* Menggunakan warna berbeda untuk baris genap dan ganjil */
.table-cust tbody tr:nth-child(even) {
    background-color: #e9ecef; /* Warna untuk baris genap */
}

.table-cust tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Warna untuk baris ganjil */
}
/* Warna saat hover pada baris tabel */
.table-cust tbody tr:hover {
    background-color: #f1f1f1; /* Warna saat mouse hover */
}
/* Memberikan border pada tabel */
.table-cust {
    border: 1px solid #ddd; /* Border untuk tabel */
    border-collapse: collapse;
}

/* Memberikan border pada sel tabel */
.table-cust th, .table-cust td {
    border: 1px solid #ddd; /* Border pada setiap cell */
    padding: 8px;
    text-align: left;
}


.mt-10{
    margin-top: 117px;
    margin-bottom: 150px;
}
