.ma-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mw-5{
    margin-bottom: 250px;
}
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all .8s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

body.dark{
    background: #111;
}

.bg-utama{
    background-color: #1b3b6f;
}

.bg-cust{
    background-color: #21295c;
}

.animate-fade {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp .8s ease forwards;
}

.animate-up {
    opacity: 0;
    transform: translateY(25px);
    animation: fadeUp .8s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    animation-play-state: running !important;
}

.footer-social-icon {
    padding: 12px;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 20%;
    background: linear-gradient(135deg, #1b3b6f,#f1f1f1);
}

.footer-social-icon:hover {
    background: linear-gradient(135deg,  #ffff,#1b3b6f);

}

.btn-utama{
    background-color: #1b3b6f;
    color: white;
}

.table-cust thead {
    background-color: #21295c;
    color: white;
    text-align: center;
}

/* Atau jika ingin warna untuk setiap th (elemen kolom header) */
.table-cust th {
    background-color: #21295c;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Warna latar belakang untuk baris tabel */
.table-cust tbody tr {
    background-color: #f8f9fa;
}

/* Mengubah warna baris yang dipilih */
.table-cust tbody tr.selected {
    background-color: #a2d9f7;
}

/* Menggunakan warna berbeda untuk baris genap dan ganjil */
.table-cust tbody tr:nth-child(even) {
    background-color: #e9ecef; /* Warna untuk baris genap */
}

.table-cust tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Warna untuk baris ganjil */
}
/* Warna saat hover pada baris tabel */
.table-cust tbody tr:hover {
    background-color: #f1f1f1;
}
/* Memberikan border pada tabel */
.table-cust {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.table-cust th, .table-cust td {
    border: 1px solid #ddd; /* Border pada setiap cell */
    padding: 8px;
    text-align: left;
}


.mt-10{
    margin-top: 117px;
    margin-bottom: 150px;
}
